*{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #ffce48;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 22px;
    height: 210px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-right: 220px;
}

.item {
    margin-right: 70px;
    color: #135b3e;
    font-size: 20px;
    font-family: "DM Sans";
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo {
    width: 197px;
}

.icons {
    width: 35px;
    padding: 2px;
}

.listIcon {
    display: flex;
    list-style: none;
    align-items: right;
    justify-content: right;
    margin-bottom: 90px;
}

.dropdown {
    position: relative;
  }
  
  .dropdownToggle {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
  }
  
  /* Submenu invisível por padrão */
  .dropdownMenu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #f5ecdc;
    border: 1px solid #135B3E;
    border-radius: 10px;
    padding: 8px 0;
    z-index: 100;
    list-style: none;
    min-width: 80px;
  }
  
  .dropdownMenu li {
    padding: 8px 20px;
  }
  
  .dropdownMenu li a {
    color: #135B3E;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Mostrar menu ao passar o mouse */
  .dropdown:hover .dropdownMenu {
    display: block;
  }
  

