select {
    width: 1116px;
    padding: 10px;
    border: 2px solid #CD2B15;
    border-radius: 4px; 
    background-color: #F5ECDC;
    color: #135B3E;
    font-weight: bold;
    appearance: none; 
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Estilo para o select ao focar */
select:focus {
    border-color: #135B3E; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(19, 91, 62, 0.5); /* Sombra ao focar */
}

/* Estilo para as opções do select */
select option {
    background-color: #F5ECDC; /* Cor de fundo das opções */
    color: #135B3E; /* Cor do texto das opções */
}